{
  "*.{js,jsx,ts,tsx,mjs,cjs,mts,cts}": ["eslint --fix", "prettier --write"],
  "*.{css,scss,vue}": ["stylelint --fix", "prettier --write"],
  "*.{json,md,yml,yaml,html}": ["prettier --write"],
  "*.vue": ["eslint --fix", "stylelint --fix", "prettier --write"]
}
